<nav class="pagination">
  <span class="first"><a href="#">« 最初のページへ</a></span>
  <span class="prev"><a href="#">‹ 前へ</a></span>
  <span class="page"><a href="#">1</a></span>
  <span class="page"><a href="#">2</a></span>
  <span class="page current">3</span>
  <span class="page"><a href="#">4</a></span>
  <span class="page"><a href="#">5</a></span>
  <span class="next"><a href="#">次へ ›</a></span>
  <span class="last"><a href="#">最後のページへ »</a></span>
</nav>
