@import "../common/variables";

.fronted__content {
  &__image {
    height: 180px;
    a {
      img {
        width: -webkit-fill-available;
        height: -webkit-fill-available;
        object-fit: cover;
      }
    }
  }
}