@import "../common/variables";

.fronted__content {
  &__image {
    height: auto;
    min-height: auto;
    a {
      img {
        width: -webkit-fill-available;
        height: 100%;
        object-fit: cover;
      }
    }
    @include sp {
      height: auto;
      a {
        height: max-content;
        img {
          height: auto;
        }
      }
    }
  }
  &__categories {
    font-size: 10px;
    font-weight: 700;
    padding: 0 8px;
    background-color: #4083de;
    border-radius: 100px;
    color: #fff;
    &--ladies {
      background-color: red;
    }
  }
  &__taxons {
    @include sp {
      display: none;
    }
  }
  &__perchaseButton {
    padding: 7px 10px;
    font-size: 14px;
    background-color: #ababab;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: none;
    color: #fff;
  }

  &__perchaseButton:hover {
    color: #fff;
  }
}
