@import "../common/variables";
// ハンバーガー
.menu-trigger span {
  position: absolute;
  left: 0;
  width: 30px;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
}
.menu-trigger span:nth-of-type(1) {
  top: 15px;
}
.menu-trigger span:nth-of-type(2) {
  top: 25px;
}
.menu-trigger span:nth-of-type(3) {
  top: 35px;
}

.js-humberger_background.active {
  display: inline;
  height: 100%;
}

.js-humberger {
  @include sp {
    display: none;
  }
  &.active {
    @include sp {
      display: block;
    }
  }
}

.drawer-hamburger {
  color: #fff!important;;
  z-index: 111!important;
}
.drawer-nav {
  text-align: center;
  z-index: 1000;
  li {
    margin: 12px 0;
    a {
      color: #646464;
      font-size: 14px;
    }

    form {
      padding: 0 75px;
    }

    &:first-child {
      height: 32px;
    }

    &:last-child {
      height: 32px;
    }
  }
}
.drawer--top.drawer-open .drawer-nav {
  padding: 0 10%;
  top: -2px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.drawer-open{
  .container {
    display: none;
  }
}
button.drawer-toggle {
  right: 10%!important;
}
.drawer .drawer-hamburger-icon,
.drawer .drawer-hamburger-icon::after,
.drawer .drawer-hamburger-icon::before {
    background-color: #2b2b2b;
}

.drawer-open .drawer-hamburger-icon::after,
.drawer-open .drawer-hamburger-icon::before {
    background-color: #2b2b2b;
}
// .drawer-open .drawer-hamburger-icon,
// .drawer-open .drawer-hamburger-icon::after,
// .drawer-open .drawer-hamburger-icon::before {
//     background-color: #3f3;
// }