<div class='fronted__account__left__title'>お客様情報</div>
<ul>
  <li>会員情報</li>
  <li>お届け先</li>
  <li>プラン内容</li>
</ul>
<div class='fronted__account__left__title'>サポート</div>
<ul>
  <li>よくある質問</li>
  <li>お問い合わせ</li>
</ul>
<div class='fronted__account__left__title'>このサービスについて</div>
<ul>
  <li><%= link_to '会社概要', main_app.corporate_path %></li>
  <li><%= link_to '利用規約', main_app.terms_path %></li>
</ul>
<ul>
  <li>ログアウト</li>
</ul>