<footer id="footer" class="sixteen columns fronted__footer" data-hook>
    <p><%= t 'spree.powered_by' %> hukuroo inc.</p>
  <div id="footer-right" class="columns omega eight" data-hook></div>
</footer>
