<%# solidus_auth_devise or a custom auth system can replace this partial %>
<% if spree_current_user %>
  <li><%= link_to "マイページへ", spree.account_path %></li>
  <li><%= link_to "ログアウト", spree.logout_path, method: Devise.sign_out_via %></li>
<% else %>
  <li id="link-to-login"><%= link_to "ログイン", spree.login_path %></li>
<% end %>