<nav class="columns sixteen">
  <ul id="main-nav-bar" class="inline" data-hook>
    <li id="home-link" data-hook><%= link_to "ホーム", spree.root_path %></li>
    <li id="link-to-cart" data-hook>
      <%= link_to "カート", spree.cart_link_path %>
      <noscript>
        <%= link_to "カート", spree.cart_link_path %>
      </noscript>
      &nbsp;
    </li>
  </ul>
  <script>Spree.fetch_cart('<%= j spree.cart_link_path %>')</script> 
</nav>
